
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    text-decoration: underline;
}


